<h1>Edit: <%= @book.title() %></h1>
<form action="/books/<%= @book.book_id() %>/edit" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="title">New Title</label>
  <input type="text" name="title" id="title">
  <label for="author">New Author</label>
  <input type="text" name="author" id="author">
  <button type="submit">Edit book</button>
</form>

<h3>Delete Book</h3>
<form action="/books/<%= @book.book_id() %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit">Delete</button>
</form>

<a href="/books">Back to list of books</a><br>
<a href="/">Home</a>
