<h1>Books in the Library:</h1>

<ul>
  <% @books.each() do |book| %>
    <li><a href="/books/<%= book.book_id %>"> <%= book.title() %> By: <%= book.author %> </a></li>
  <% end %>
</ul>

<!-- <h4>Search for a book:</h4>
<form action="/books/find" method="get">
  <label for="title">Title:</label>
  <input type="text" name="title" id="title">

  <button type="submit">Find</button>
</form> -->

<!-- <% if @books_array != nil %>
  <ul>
    <% @books_array.each() do |book| %>
      <li><%= book.title %> By: <% book.author %></li>
    <% end %>
  </ul>
<% end %> -->

<h4>Add a book:</h4>
<form action="/books/new" method="post">
  <label for="title">Title:</label>
  <input type="text" name="title" id="title">

  <label for="author">Author:</label>
  <input type="text" name="author" id="author">

  <button type="submit">Add book</button>
</form>

<a href="/patrons">List of Patrons</a><br>
<a href="/">Home</a>
