<h1>Welcome to the library!</h1>

<h3>Librarians:</h3>
<ul class="home">
  <li><a href="/books" class ="btn btn-primary" role = "button">View all books</a></li>
  <li><a href="/patrons" class ="btn btn-primary" role = "button">View all patrons</a></li>
</ul>
