<h1>Welcome to the Library!</h1>

<ul class="home">
  <li><a href="/books" class ="btn btn-primary" role = "button">View all books</a></li>
  <li><a href="/patrons" class ="btn btn-primary" role = "button">View all patrons</a></li>
</ul>
