<h1>Here are the Patrons</h1>

<ul>
  <% @patrons.each() do |patron| %>
  <li><a href="/patrons/<%= patron.patron_id() %>"> <%= patron.patron_name() %></a></li>
  <% end %>
</ul>

<h4>Add a patron:</h4>
<form action="/patrons/new" method="post">
  <label for="patron_name">Patron Name:</label>
  <input type="text" name="patron_name" id="patron_name" autofocus>

  <button type="submit">Add patron</button>
</form>

<a href="/">Home</a>
